<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon style="font-size: 80px;" name='person'></ion-icon><br>Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder='Nome'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder='Email'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder='Telefone'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder='Senha'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button style="margin-bottom: 5%;" size='large' class="btn-init" expand='block'>Cadastrar
        </ion-button>
        <ion-button size='large' class="btn-init" expand='block' routerLink='/login'>Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>