.content {
    --background: linear-gradient(207deg, rgba(226, 139, 29, 1) 0%, rgba(255, 224, 1, 1) 84%);
    --border-width: 0px;
    --min-height: 140px;
}

ion-item {
    --border-width: 2px;
    --border-radius: 10px;
    margin-bottom: 5%;
}

.btn-init {
    --background: #ECA912;
    --border-radius: 10px;
}

ion-back-button {
    --icon-font-size: 30px
}