<ion-header>
  <ion-toolbar color="primary">
   <!--  <ion-title> Cadastro de Usuário </ion-title> -->
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-form ion-padding">

    <span><p>Alterar Senha</p></span>

    <ion-item class="ion-margin-top" lines="none">
      <ion-icon name="mail" slot="end"></ion-icon>
      <ion-input type="text" placeholder="E-mail" value="" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" (click)="forgotpassword()" color="light" expand="block">
        Enviar
    </ion-button>

  
    
    
  </ion-card>

</ion-content>
