<ion-header>
  <ion-toolbar color="primary">
   <!--  <ion-title> Cadastro de Usuário </ion-title> -->
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-avatar slot="start" button [routerLink]="['/perfil-alterar-foto']">
      <img [src]="user.foto">
    </ion-avatar>
  <ion-card class="card-form ion-padding">

    <span><p>Perfil</p></span>

       
  <div>
    <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-toggle [(ngModel)]="user.ativo" (click)="ativoUpdate()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Plantão</ion-label>
        <ion-toggle [(ngModel)]="user.plantao" (click)="updateUser()" [disabled]="!user.ativo == true"></ion-toggle>
      </ion-item>
     
</div>
      <ion-item id="rounded">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="user.nome" disabled="true"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="text" [(ngModel)]="user.sobrenome" disabled="true"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" disabled="true"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="string" [(ngModel)]="user.telefone" disabled="true"></ion-input>
      </ion-item>

</ion-card>
<app-star-review></app-star-review>
<app-comments></app-comments>
</ion-content>
