<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-list padding>

        <ion-avatar slot="start" button [routerLink]="['/perfil-alterar-foto']">
            <img [src]="user.foto">
          </ion-avatar>
  <div>
    <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-toggle [(ngModel)]="user.ativo" (click)="ativoUpdate()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Plantão</ion-label>
        <ion-toggle [(ngModel)]="user.plantao" (click)="updateUser()" [disabled]="!user.ativo == true"></ion-toggle>
      </ion-item>
     
</div>
      <ion-item id="rounded">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="user.nome" disabled="true"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" disabled="true"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="string" [(ngModel)]="user.telefone" disabled="true"></ion-input>
      </ion-item>
      
    </ion-list>

    <app-star-review></app-star-review>

   
    
</ion-card>
</ion-content>
