<ion-header>
  <ion-toolbar mode='ios' class="content">
    <ion-buttons slot="start">
      <ion-back-button style="color: #fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Lista de Guias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>

              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>

          <ion-item button='true' routerLink='/detalhe-guia' mode='md'>
            <ion-avatar slot="start">
              <img [src]="profile">
            </ion-avatar>
            <ion-label>
              <h2>Gladstone Barbosa</h2>
              <p>
                <ion-icon name='pin'></ion-icon> 8km Pernambuco, Recife, BR
              </p>
            </ion-label>
            <span>5,0 <ion-icon name='star'></ion-icon>
            </span>
          </ion-item>



        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>