<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Cadastro de Usuário </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <div id="img-card">
        <img src="/assets/images/logo.png">
    </div>
      
      <ion-list padding>

        <ion-item id="rounded">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" [(ngModel)]="user.nome"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input type="text" [(ngModel)]="user.sobrenome"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
   
        <ion-item id="rounded">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="phone" [(ngModel)]="user.telefone"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Cadastur</ion-label>
          <ion-input type="text" [(ngModel)]="user.cadastur"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Linguas</ion-label>
          <ion-input type="text" [(ngModel)]="user.linguas"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>

        <ion-item id="rounded">
          <ion-label position="floating">Foto</ion-label>
          <ion-input type="text" [(ngModel)]="user.foto"></ion-input>
        </ion-item>

      </ion-list>

      <ion-button shape="round" expand="full" color="success" (click)="register()">
          Cadastrar
      </ion-button>

  </ion-card>
</ion-content>
