ion-content {
    --background: linear-gradient(207deg, rgba(90,196,249,1) 0%, rgba(0,142,244,1) 48%);
}

.logo {
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 5%;
}

.img-center {
    display: flex;
    justify-content: center;
}

ion-item {
    --background: rgba(0, 0, 0, 0);
    --detail-icon-color: #fff;
    --border-color: #fff;
    --color-activated: #fff;
    --color-focused: #fff;
    --highlight-color-focused: #fff;
}

ion-label {
    --color: #fff;
    --highlight-color-focused: #fff;
}

.icon {
    color: #fff;
}

ion-input {
    --color: #fff
}

.sc-ion-input-md-h .sc-ion-input-md-s .md .hydrated .has-value .has-focus {
    color: #fff;
}

ion-toggle {
    --background-checked: #fff;
    --handle-background-checked: #279DEC;
}

.txt-span {
    color: #fff;
}

.btn-init {
    --background: #72C2F9;
}